body{
    background-color: slategray;
}

#logo{
    margin-left: 20px !important;
}

#links{
    margin-right: 50px !important;
}

#tarjetas{
    padding: 20px;
    gap: 5px;
}

.carrito{
    display: flex;
    width: 30px;
    height: 30px;
}

.panel{
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    background: gainsboro;
    align-items: center;
    padding: 5px;
}

.botonAgregar{
    padding: 30px;  
}

.botonera{
    display: flex;
    justify-content: center;

}

.contador{
    margin-top: 15px;
    padding: 10px;
}

.producto-imagen{
    height: 200px;
    object-fit: contain;
}

